/**
 * In this file all color variables are located.
 * Here are the standard colors.
 */
$white: #ffffff;
$black: #000000;

/**
 * These are the base colors in different variations: Standard light and dark.
 */
$ib-blue: #98cbdc;
$ib-beige: #eae1c9;
$ib-orange: #d57b1a;
$ib-grey: #505154;

// lighter variation
$ib-blue-light: #9ebdc5;
$ib-beige-light: #efecdf;
$ib-orange-light: #dca255;
$ib-grey-light: #6e7078;

// darker variation
$ib-blue-dark: #628e99;
$ib-beige-dark: #d0c8b3;
$ib-orange-dark: #c46145;
$ib-grey-dark: #48484c;
