@mixin effectIcon($size, $icon-color) {
  display: inline-block;
  font-size: $size;
  line-height: $size *2;
  cursor: pointer;
  margin: $size / 2.25;
  width: $size * 2;
  height: $size * 2;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: $icon-color;

  &:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  &:before {
    speak: none;
    font-size: $size * 1.5;
    line-height: $size * 2;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
}
