@mixin hover-icon-8($size, $icon-color, $bg-color, $icon-hover-color) {
  @include effectIcon($size, $icon-color);

  width: $size * 2 + ($size / 45 * 2);
  height: $size * 2 + ($size / 45 * 2);
  box-shadow: 0 0 0 ($size / 45 * 4) $bg-color;
  transition: box-shadow 0.2s;

  &:before {
    line-height: $size * 2 + ($size / 45 * 2);
  }

  &:after {
    top: - ($size / 45 * 4);
    left: - ($size / 45 * 4);
    padding: 0;
    z-index: 10;
    border: ($size / 45 * 4) dashed $bg-color;
  }

  &:hover {
    box-shadow: 0 0 0 0 rgba($bg-color, 0);
    color: $icon-hover-color;

    &:after {
      animation: spinAround 9s linear infinite;
    }
  }
}

@mixin hover-icon-8--active($size, $icon-color, $bg-color, $icon-hover-color) {
  @include effectIcon($size, $icon-hover-color);

  &:after {
    top: - ($size / 45 * 4);
    left: - ($size / 45 * 4);
    padding: 0;
    z-index: 10;
    border: ($size / 45 * 4) dashed $bg-color;
    animation: spinAround 9s linear infinite;
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}
