@mixin hover-icon-10($size, $icon-color, $bg-color, $icon-hover-color) {
  @include effectIcon($size, $icon-color);

  box-shadow: 0 0 0 ($size / 45 * 4) $bg-color;
  overflow: hidden;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    background: rgba($bg-color, 1);
    color: $icon-hover-color;
    box-shadow: 0 0 0 ($size / 45 * 8) rgba($bg-color, 0.3);

    &:before {
      animation: toLeftFromRight 0.3s forwards;
    }
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}

@mixin hover-icon-10--active($size, $icon-color, $bg-color, $icon-hover-color) {
  @include effectIcon($size, $icon-hover-color);
  background: $bg-color;
  color: $icon-hover-color;
  box-shadow: 0 0 0 ($size / 45 * 8) rgba($bg-color, 0.3);
}


